{% extends 'base.html' %}
{% load filters %}

{% block content %}

{% if request.user|has_group:'Administrador' %}
    <h1>Menu adminstrador</h1>
{% endif %}

{% if request.user|has_group:'Bibliotecario' %}
    {% include 'includes/listagem_exemplares.html' %}
{% endif %}

{% if request.user|has_group:'Usuario' %}
    {% include 'includes/listagem_emprestimos_usuario.html' %}
{% endif %}
{% endblock %}


<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<title>Emprestimos Ativos</title>-->
<!--</head>-->
<!--<body>-->
    <!--<h1>Sistema de Biblioteca</h1>-->
    <!--{% if request.user.is_authenticated %}-->
        <!--<h2>Bem vindo, {{ request.user }}!</h2>-->

        <!--<p>-->
            <!--<a href="/biblioteca/logoff/">Sair do Sistema</a>-->
        <!--</p>-->
    <!--{% else %}-->
        <!--<h2>Bem vindo, visitante!</h2>-->

        <!--<form action="" method="post">-->
            <!--{% csrf_token %}-->
            <!--<div>-->
                <!--{{ form.as_p }}-->
            <!--</div>-->

            <!--<div>-->
                <!--<input type="submit" value="Autenticar" />-->
            <!--</div>-->
        <!--</form>-->


        <!--&lt;!&ndash;<form action="/biblioteca/autenticar/" method="post">&ndash;&gt;-->
            <!--&lt;!&ndash;{% csrf_token %}&ndash;&gt;-->

            <!--&lt;!&ndash;<p>&ndash;&gt;-->
                <!--&lt;!&ndash;<label for="usuario">Usuário:</label>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="text" id="usuario" name="usuario" />&ndash;&gt;-->
            <!--&lt;!&ndash;</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>&ndash;&gt;-->
                <!--&lt;!&ndash;<label for="senha">Senha:</label>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="password" id="senha" name="senha" />&ndash;&gt;-->
            <!--&lt;!&ndash;</p>&ndash;&gt;-->
            <!--&lt;!&ndash;<p>&ndash;&gt;-->
                <!--&lt;!&ndash;<input type="submit" value="Autenticar">&ndash;&gt;-->
            <!--&lt;!&ndash;</p>&ndash;&gt;-->
        <!--&lt;!&ndash;</form>&ndash;&gt;-->
    <!--{% endif %}-->
<!--</body>-->
<!--</html>-->